.table {
  margin-top: 10px;
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ccc;
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: var(--dark-shade-100);
  }
  
  tr:nth-child(even) {
    background-color: var(--dark-shade-10);
  }
}